<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/common :: head('게시판')"></head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('board')">
</nav>
<main>
<div class="container">
    <h2>게시판</h2>
<!--    <form action="#" th:action="@{/noticeBoard/updateForm}" th:object="${boardDetail}" method="post">-->
    <form id="form" name="form" class="center" method="post" enctype="multipart/form-data" th:object="${boardDetail}">
        <input type="hidden" name="bbsId" th:value="BOARD">
        <input type="hidden" th:field="*{bbsSeq}">
        <input type="hidden" name="modifyYn" th:value="${modifyYn}">

        <div class="form-group" style="margin-bottom: 20px; margin-top: 10px;">
            <label for="title">요청 제목</label>
            <input type="text" name="title" class="form-control" style="width:1100px;"
                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"
                   id="title" th:field="*{title}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                제목 에러 메시지
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 20px;">
            <label for="contn">요청 내용</label>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('contn')}" th:errors="*{contn}">
                내용 에러 메시지
            </div>
            <textarea id="contn" name="contn" class="form-control" th:classappend="${#fields.hasErrors('contn')} ? 'is-invalid'"
                      th:field="*{contn}"
                      style="width: 1100px; height: 100px;"></textarea>
        </div>
        <div>
            <label>첨부 파일</label>
            <input type="hidden" class="form-control" name="attachFileSeqList" th:value="0"/>
            <tr th:if="${boardDetail.uploadBoardFile != null && boardDetail.uploadBoardFile.size > 0}" th:each="detail : ${boardDetail.uploadBoardFile}">
                <div class="fileContent" style="width: 1000px;">
                    <input type="hidden" name="attachFileSeqList" th:value="${detail.getAttachFileSeq()}" />
                    <a th:text="${detail.getAttachFileNm()}"></a>
                    <button class="fileDelBtn" type="button"  style="margin-left: 10px; border: 1px solid">X</button>
                </div>
            </tr>
        </div>
        <div class="form-group" style="width: 1100px;">
            <input id="boardFile" type="file" class="form-control" name="boardFile" multiple="multiple"/>
        </div>
        <div class="text-right">
            <a class="btn btn-primary" th:href="@{/board/list}">취소</a>
            <button type="button" class="btn btn-primary" onclick="writeBoard()">확인</button>
            <tr th:if="${modifyYn == 'Y'}">
                <button type="button" class="btn btn-danger" role="alert" onclick="deleteBoard()">삭제</button>
            </tr>
        </div>
    </form>
</div>
</main>
<footer th:replace="fragments/common :: footer"/>

    <script type="text/javascript">

        $(function () {
            $('.fileDelBtn').on("click", function() {
                // 클릭된 버튼의 부모 요소 중 클래스가 "fileContent"인 요소를 찾음
                let fileContent = $(this).closest(".fileContent");
                fileContent.remove();
            });
        });

        function writeBoard(){
            // $("#contn").val(editor.getHTML());
            let formData = new FormData($("#form")[0]);
            console.log("data : "+JSON.stringify(formData));

            //boardFile을 있으면
            if(document.querySelector('#boardFile')){
                const boardFile =  document.getElementById('boardFile').files;
                console.log("boardFile : "+JSON.stringify(boardFile));
                if (boardFile.length == 0) {
                    formData.delete("boardFile");
                }
            }

            if ($("#title").val() == "") {
                alert("제목을 입력하세요.");
                $("#title").focus();
                return false;
            }

            if ($("#contn").val() == "") {
                alert("내용을 입력하세요.");
                $("#contn").focus();
                return false;
            }

            if (confirm("등록 하시겠습니까?")) {
                alert("등록되었습니다.");
                // 사용자가 확인 버튼을 눌렀을 때 AJAX 호출
                $.ajax({
                    enctype: 'multipart/form-data',
                    type: 'POST',
                    url: '/board/updateFormAjax',
                    data: formData,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (res) {
                        console.log('result', res);
                        window.location.href = '/board/list';
                    },
                    error: function (res) {
                        alert("게시글 등록실패");
                    }
                });
            } else {
                alert("취소되었습니다.");
            }
        }

        function deleteBoard() {
            if (confirm("게시글을 삭제하시겠습니까?")) {
                // 확인 버튼을 누르면 실행됩니다.

                // AJAX 요청을 보내기 위해 FormData 객체를 생성합니다.
                let formData = new FormData($("#form")[0]);

                // AJAX 요청을 보냅니다.
                $.ajax({
                    type: 'POST',
                    url: '/board/deleteFormAjax',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        alert(response);
                        window.location.href = '/board/list';
                    },
                    error: function () {
                        alert("게시글 삭제 실패");
                    }
                });
            }
        }
    </script>
</body>
</html>