<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/common :: head('게시판')"></head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('board')">
</nav>
<main>
    <div class="container">
        <h2>게시판</h2>
        <form id="form" name="form" class="center" method="post" enctype="multipart/form-data" th:object="${boardDetail}">
            <input type="hidden" name="bbsId" th:value="BOARD">
            <input type="hidden" th:field="*{bbsSeq}">
            <input type="hidden" name="modifyYn" th:value="${modifyYn}">

            <div class="form-group" style="margin-bottom: 20px; margin-top: 10px;">
                <label for="title">요청 제목</label>
                <input type="text" name="title" class="form-control" style="width:1100px;"
                       th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"
                       id="title" th:field="*{title}"
                       th:readonly="${modifyYn == 'Y'}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                    제목 에러 메시지
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 20px;">
                <label for="contn">요청 내용</label>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('contn')}" th:errors="*{contn}">
                    내용 에러 메시지
                </div>

                <!-- 내용 입력란 -->
                <textarea id="contn" name="contn" class="form-control" th:classappend="${#fields.hasErrors('contn')} ? 'is-invalid'"
                          th:field="*{contn}"
                          th:readonly="${modifyYn == 'Y'}"
                          style="width: 1100px; height: 100px;"></textarea>
            </div>
            <div th:if="${boardDetail.uploadBoardFile != null && boardDetail.uploadBoardFile.size() > 0}">
                <label>첨부 파일</label>
                <tr th:each="detail : ${boardDetail.uploadBoardFile}">
                    <div class="form-control" style="width: 1100px;" id="fileContent" th:readonly="${modifyYn == 'Y'}">
                        <a th:text="${detail.getAttachFileNm()}"></a>
                    </div>
                </tr>
            </div>

            <div id="filePreview" class="form-group" th:if="${boardDetail.uploadBoardFile != null && boardDetail.uploadBoardFile.size() > 0}" style="margin-bottom: 20px;">
                <label style="display: block; margin-top: 20px;">첨부 파일 미리보기</label>
                <div style="display: flex; justify-content: center;">
                    <span th:each="file : ${boardDetail.uploadBoardFile}">
                        <th:block th:if="${file.type} == 'image'">
                            <img th:src="'/board/media/' + ${file.type} + '/' + ${file.saveFileNm}" alt="이미지" style="height: 200px; width: 200px; margin: 10px;">
                        </th:block>
                        <th:block th:if="${file.type} == 'video'">
                            <video autoplay controls onloadedmetadata="setTimeout(function(){document.getElementById('videoPlayer').pause()}, 10000)" style="height: 200px; width: 200px; margin: 10px;">
                                <source th:src="'/board/media/' + ${file.type} + '/' + ${file.saveFileNm}" type="video/mp4">
                            </video>
                        </th:block>
                    </span>
                </div>
            </div>

            <div class="text-right" style="margin-top: 20px;">
                <a class="btn btn-primary" th:href="@{/board/list}">취소</a>
                <a class="btn btn-primary" th:href="@{/board/form(bbsSeq=${boardDetail.bbsSeq},modifyYn='Y')}">수정</a>
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/common :: footer"/>

<script type="text/javascript">

</script>
</body>
</html>
