<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blucean.solution.board.mapper.BoardMapper">
    <select id="boardList" resultType="BoardDTO" parameterType="BoardDTO">
        <include refid="com.blucean.solution.common.mapper.CommonMapper.paging_prefix"/>
        SELECT DISTINCT
              A.BBS_SEQ
            , A.WRTR_ID
            , A.TITLE
            , A.INQ_CNT
            , TO_CHAR(TO_DATE(A.WRTR_DD, 'YYYYMMDD'), 'YYYY-MM-DD') AS WRTR_DD
            , TO_CHAR(TO_TIMESTAMP(A.LST_UPD_DDTM, 'YYYYMMDDHH24MI'), 'YYYY-MM-DD') AS LST_UPD_DDTM
            , B.USE_YN AS IMG_YN
        FROM BOARD A LEFT OUTER JOIN ATTCH B
        ON (A.BBS_SEQ = B.BBS_SEQ)
        <if test='searchText != null and !"".equals(searchText)'>
            WHERE (A.TITLE LIKE '%' || #{searchText} || '%' OR A.CONTN LIKE '%' || #{searchText} || '%')
        </if>
        ORDER BY A.BBS_SEQ DESC
        <include refid="com.blucean.solution.common.mapper.CommonMapper.paging_suffix"/>
    </select>

    <select id="boardDetail"  parameterType="int" resultType="BoardDTO" >
        SELECT
              BBS_SEQ
            , TITLE
            , CONTN
            , WRTR_ID
            , WRTR_DD
            , WRTR_TM
            , LST_UPD_USR_ID
            , LST_UPD_USR_NM
            , LST_UPD_DDTM
            , USE_YN
        FROM BOARD
        WHERE BBS_SEQ = #{bbsSeq}
    </select>

    <insert id="boardWrite" parameterType="BoardDTO">
        <selectKey order="AFTER" resultType="int" keyProperty="bbsSeq">
            SELECT MAX(BBS_SEQ) AS bbsSeq
            FROM BOARD
        </selectKey>

        INSERT INTO BOARD
        (
             TITLE
            , CONTN
            , WRTR_ID
            , WRTR_DD
            , WRTR_TM
            , LST_UPD_DDTM
        ) VALUES (
             #{title}
            , #{contn}
            , #{wrtrId}
            , to_char(now(),'YYYYMMDD')
            , to_char(now(),'HH24MISS')
            , to_char(now(),'YYYYMMDDHH24MI')
        )
    </insert>

    <update id="boardUpdate" parameterType="BoardDTO">
        UPDATE BOARD
        SET TITLE = #{title}
          , CONTN = #{contn}
        WHERE BBS_SEQ = #{bbsSeq}
    </update>

    <delete id="boardDelete" parameterType="int">
        DELETE from BOARD
        where BBS_SEQ = #{bbsSeq}
    </delete>

    <!--파일 첨부-->
    <insert id="insertBoardFileList" parameterType="AttchDTO">
        INSERT INTO ATTCH
        (
              BBS_SEQ
            , ATTACH_FILE_NM
            , SAVE_FILE_NM
            , FILE_PATH
            , USE_YN
        )
        VALUES
            (
                  #{bbsSeq}
                , #{attachFileNm}
                , #{saveFileNm}
                , #{filePath}
                , 'Y'
            )
    </insert>

    <!--상세정보에 나오는 파일정보 -->
    <select id="selectBoardFileList" parameterType="int" resultType="AttchDTO">
        SELECT
               BBS_SEQ
             , ATTACH_FILE_NM
             , FILE_PATH
             , SAVE_FILE_NM
             , ATTACH_FILE_SEQ
        FROM
            ATTCH
        WHERE
            BBS_SEQ = #{bbsSeq}
    </select>

    <!--파일 삭제-->
    <delete id="fileDelete" parameterType="AttchDTO">
        DELETE from ATTCH
        where BBS_SEQ = #{bbsSeq}
        AND
        ATTACH_FILE_SEQ NOT IN
        <foreach collection="attachFileSeqList" item="arr" open="(" close=")" separator=",">
            #{arr}
        </foreach>
    </delete>

    <!--공지사항 선택시 +1-->
    <update id="notiViewCountUpdate" parameterType="int">
        /*BoardMapper.notiViewCountUpdate*/
        UPDATE BOARD
        SET INQ_CNT = INQ_CNT + 1
        WHERE BBS_SEQ = #{bbsSeq}
    </update>

    <select id="selectFileListNotIn" parameterType="BoardDTO"  resultType="AttchDTO">
        /*BoardMapper.selectFileListNotIn*/
        SELECT
              BBS_SEQ
            , ATTACH_FILE_NM
            , FILE_PATH
            , SAVE_FILE_NM
            , ATTACH_FILE_SEQ
        FROM
        ATTCH
        WHERE
        <if test="attachFileSeqList != null and !attachFileSeqList.isEmpty()">
            ATTACH_FILE_SEQ not in
            <foreach collection="attachFileSeqList" item="arr" open="(" close=")" separator=",">
                #{arr}
            </foreach>
            and
        </if>
        BBS_SEQ = #{bbsSeq}
    </select>

    <!-- 파일 상태정보   -->
    <select id="fileDetail" parameterType="AttchDTO"  resultType="AttchDTO">
        /*BoardMapper.fileDetail*/
        SELECT
               BBS_SEQ
             , ATTACH_FILE_NM
             , FILE_PATH
             , SAVE_FILE_NM
             , ATTACH_FILE_SEQ
        FROM
            ATTCH
        WHERE
            ATTACH_FILE_SEQ = #{attachFileSeq}
          and BBS_SEQ = #{bbsSeq}
    </select>
</mapper>